
.submit-button{

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    flex-grow: 1;
}

.content {
    width: 50%;
    flex-grow: 0.5;
    flex-direction: column;
}

.search-bar {
    width: 300px;
}

.courrielDots {
    margin-right: 40px;
}

.courriel {
    align-self: flex-end;
}

.no-account {
    flex-grow: 0;
    align-self: flex-end;
}

.title {
    margin-bottom: 0;
}
.dialogue
{
    flex-grow:0;
    display: flex;
    flex-direction: column;
    juistify-content: center;
    align-items: center;
}