<html>
<head>
<title>nous-joindre</title>
 <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="Nous-joindre.css">
    <link rel="stylesheet" type="text/css" href="../General-styling.css">
</head>

<body>
    <div class="top-container"> <!-- everything that needs to clip on top of the page goes in here --->
        <div class="header" >
             <p>Bibliothèque en ligne</p>
        </div>
        <div class="navigation-bar">
            <a class="header-button" href="../Accueil/Accueil.html"><div >Accueil</div></a>
            <a class="header-button" href="../Recherche/Recherche.html"><div >Recherche</div></a>
            <a class="header-button" href="../Se-connecter/Se-connecter.html"><div>Se connecter</div></a>
            <a class="header-button" href="../Nous-joindre/Nous-joindre.html"><div >Nous joindre</div></a>
        </div>
    </div>
    <div class="content-container">
        <div class="content">
            <div>
                <p class="title"> À propos de " bibliothèque en ligne'':</p>
                <p class="text">le site web a été conçus dans le cadre du projet de session du cours Modèles et langages des bases de données pour ingénieurs GLO-2005. </p>
                <p class="text">Ut sit amet neque dui. Sed erat neque, tincidunt sed nisi sed, dictum feugiat tellus. Quisque quis bibendum erat. Ut massa neque, viverra eu erat malesuada, dictum accumsan ante. Ut ut felis leo. Proin pharetra, purus sit amet gravida imperdiet, massa erat bibendum est, ac condimentum tortor lorem non nisi. Suspendisse at nisi vitae nulla malesuada sodales a at lorem. Aenean egestas nulla ac dolor cursus aliquet. Quisque ut consequat tortor.</p>
            </div>
            <div>
                <h1 class="text"> Coordonnées </h1><br>
                <p class="text">Sara Selma, Amara <br> Courriel: sara-selma.amara.1@ulaval.ca</p>
                <p class="text">Sophie Bourbonnais-Roy <br> Courriel: sophie.bourbonnais-roy.1@ulaval.ca</p>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>
