<html>
<head>
    <title>Bibliothèque</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="Accueil.css">
    <link rel="stylesheet" type="text/css" href="../General-styling.css">
</head>
<body>
<div class="top-container">
    <div class="header" >
        <p>Bibliothèque en ligne</p>
    </div>
    <div class="navigation-bar">
        <a class="header-button" href="#"><div >Accueil</div></a>
        <a class="header-button" href="../Recherche/Recherche.html"><div >Recherche</div></a>
        <a class="header-button" href="../Se-connecter/Se-connecter.html"><div>Se connecter</div></a>
        <a class="header-button" href="../Nous-joindre/Nous-joindre.html"><div >Nous joindre</div></a>
    </div>
</div>
<div class="content-container">
    <div class="content">
        <p>Bienvenue sur notre service de livraison en ligne de livre et d'achat de magasine!</p>
        <p>Nos livres</p>
        <p>Nos magasines</p>
    </div>
</div>
<div class="footer"></div>
</body>
</html>

