<html>
<head>
    <title>Bibliothèque</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Abonnement.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GeneralStyling.css') }}">
</head>
<body>
<div class="top-container">
    <div class="header" >
        <p>Bibliothèque en ligne</p>
    </div>
    <div class="navigation-bar">
        <a class="header-button" href="{{ url_for('accueil')}}"><div >Accueil</div></a>
        <a class="header-button" href="{{ url_for('recherche')}}"><div >Recherche</div></a>
        <a class="header-button" href="{{ url_for('se_connecter') }}"><div>Compte</div></a>
        <a class="header-button" href="{{ url_for('nous_joindre') }}"><div >Nous joindre</div></a>
    </div>
</div>
<div class="content-container">
    <div class="content">
        <p class="title">Abonnement</p>
        <form method="POST" action="">
                <p>
                    {{ form.nomUtilisateurs.label }}
                    {{ form.nomUtilisateurs(class_="search-bar") }}
                </p>
                <p>
                    {{ form.prenomUtilisateurs.label }}
                    {{ form.prenomUtilisateurs(class_="search-bar") }}
                </p>

                <p>
                    {{ form.utilisateursAge.label }}
                    {{ form.utilisateursAge(class_="search-bar") }}
                </p>
                <p>
                    {{ form.utilisateursAddresseNumero.label }}
                    {{ form.utilisateursAddresseNumero(class_="search-bar") }}

                </p>
                <p>
                    {{ form.utilisateursAddresseRue.label }}
                    {{ form.utilisateursAddresseRue(class_="search-bar") }}

                </p>
                <p>
                    {{ form.utilisateursAddresseCode.label }}
                    {{ form.utilisateursAddresseCode(class_="search-bar") }}

                </p>
                <p>
                    {{ form.utilisateursCourriel.label }}
                    {{ form.utilisateursCourriel(class_="search-bar") }}
                </p>
                <p>
                    {{ form.utilisateursMdp.label }}
                    {{ form.utilisateursMdp(class_="search-bar") }}
                </p>

                <p>
                    {{ form.submit.label }}
                    {{ form.submit(class_="submit-button") }}
                </p>
        </form>
        <div>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}"
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>