<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Location.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GeneralStyling.css') }}">
</head>
<body>
    <div class="top-container"> <!-- everything that needs to clip on top of the page goes in here --->
        <div class="header" >
             <p>Bibliothèque en ligne</p>
        </div>
        <div class="navigation-bar">
        <a class="header-button" href="{{ url_for('accueil')}}"><div >Accueil</div></a>
        <a class="header-button" href="{{ url_for('recherche')}}"><div >Recherche</div></a>
        <a class="header-button" href="{{ url_for('se_connecter') }}"><div>Mon compte</div></a>
        <a class="header-button" href="{{ url_for('nous_joindre') }}"><div >Nous joindre</div></a>
     </div>
    </div>
    <div class="content-container">
        <div class="content">
            {% for bookId, publishingDate, authorName,bookName, imageId, bookGenre in result %}
            <img src="../static/ressources/images/imagesLivres/{{imageId}}.jpg" alt="image livre" width="200">
            <p>Titre: {{bookName}}</p>
            <p>Auteur: {{authorName}}</p>
            <p>Date de publication: {{publishingDate}}</p>
            <p>Genre: {{bookGenre}}</p>
            <button class="submit-button">Louer</button>
            {% endfor %}
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>