<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utilisateurs</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/GeneralStyling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profil-utilisateurs.css') }}">
    <script type="text/javascript"></script>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="top-container">
    <div class="header" >
        <p>Bibliothèque en ligne</p>
    </div>
    <div class="navigation-bar">
        <a class="header-button" href="{{ url_for('accueil')}}"><div >Accueil</div></a>
        <a class="header-button" href="{{ url_for('recherche')}}"><div >Recherche</div></a>
        <a class="header-button" href="{{ url_for('se_connecter') }}"><div>Se connecter</div></a>
        <a class="header-button" href="{{ url_for('nous_joindre') }}"><div >Nous joindre</div></a>
     </div>
</div>

<div class="content-container">
    <div class="content">
         <div class="result-container">
             <p class="title">Coordonnée</p>
             <p>Votre Id:&nbsp;{{ resultat[0]}}</p>
             <p>Prenom:&nbsp;{{ resultat[1]}}</p>
             <p>nom de famille:&nbsp;{{ resultat[2]}}</p>
             <p>Age:&nbsp;{{ resultat[3]}}</p>
             <p>Courriel:&nbsp;{{resultat[4]}}</p>

               {% if resultat[5] == 1 %}
             <p>Statut:&nbsp;Administrateur</p>
             {% else %}
             <p> Statut:&nbsp;Abonné(e)</p>
             {% endif %}"

         </div>
    </div>
</div>


<div class="footer"></div>

</body>
</html>