<html>
<head>
<title>Abonnement</title>
 <meta charset="utf-8" />
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle3.css">
</head>

<body class="container">
<div class="item-a" >
     <h1 class="text">Bibliothèque en ligne</h1>
</div>

<div class="item-b">
<ul>
    <li><a href="bienvenu.html">Accueil</a></li>
    <li><a href="#">Se connecter</a></li>
    <li><a href="#">Abonnement</a></li>
    <li><a href="#">Nous joindre</a></li>
</ul>
</div>

<div class="item-c">
    <h1 class="text">Politique d'abonnement</h1><br>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat fermentum quam, a lobortis lacus malesuada ac. Mauris rutrum lectus et fringilla aliquet. Duis lobortis, elit at blandit tempor, est eros molestie elit, mollis egestas quam nibh vestibulum metus. Suspendisse vitae pellentesque nunc. Vestibulum auctor ornare sodales. Pellentesque in dui dictum, euismod sapien in, porta nibh. In hac habitasse platea dictumst. Morbi maximus lacus sed elit pharetra, eget hendrerit nibh ullamcorper. Cras at ligula vel nisi aliquam venenatis id quis purus. Aliquam faucibus sed ligula eu porta. Curabitur ut tellus vitae mauris sagittis tristique. Pellentesque facilisis est non lacinia gravida. Cras pellentesque neque eget erat dignissim volutpat. Maecenas blandit diam at nisl dictum, ac accumsan nisi dapibus.</p>
</div>

<div class="item-d">
<form method="POST" action="Abonnement">
    <input class="inp" type="text" placeholder="Nom" name="nom"> &nbsp;
    <input class="inp" type="text" placeholder="Prenom" name="Prenom"><br>
    <input class="inp1" type="text" placeholder="Courriel" name="Couriel"><br>
    <input class="inp1" type="text" placeholder="Adresse" name="Adresse"><br>
    <input class="inp1" type="text" placeholder="Cellulaire" name="Cellulaire"><br>
    <input class="Boutton" type="submit" value="Création de compte" name="soumettre">
</form>
</div>



<div class="item-e">
</div>
</body>


</html>