<html>
<head>
<title>Bibliothèque</title>
 <meta charset="utf-8" />
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
</head>

<body class="container">
<div class="item-a" >
     <h1 class="text">Bibliothèque en ligne</h1>
</div>

<div class="item-b">
<ul>
    <li><a href="bienvenu.html">Accueil</a></li>
    <li><a href="#">Se connecter</a></li>
    <li><a href="#">Abonnement</a></li>
    <li><a href="#">Nous joindre</a></li>

</ul>
</div>



<div class="item-c">
    <p>Recherche simple</p>
    <form >
      <input class="bar1" type="search" placeholder="Recherche" aria-label="Search">
      <button class="boutton2" type="submit">Recherche</button>
    </form>
    <p> Pour une recherche avancée, <a href="#"> Cliquer ici</a></p>
</div>



<div class="item-d">

</div>
</body>


</html>