<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle1.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
 <meta charset="utf-8" />
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>



<body onload="SupprimerContenu()" class="container">
<div class="item-a" >
     <h1 class="text">Bibliothèque en ligne</h1>
</div>

<div class="item-b">
<ul>
    <li><a href="bienvenu.html">Accueil</a></li>
    <li><a href="#">Se connecter</a></li>
    <li><a href="#">Abonnement</a></li>
    <li><a href="#">Nous joindre</a></li>

</ul>
</div>

<div class="item-c">
<form action="login" method="post">
    <p class="text1" > Connexion </p>
    <label class="text2"><b> Courriel </b></label> &nbsp;
    <input class="inp" type="text" placeholder="Entrer le courriel" name="courriel"><br>
    <label class="text2"><b> Mot de passe</b></label> &nbsp;
    <input class="inp1" placeholder="Entrer votre mot de passe" type="password" name="motpasse"><br>
    <input class="boutton1"   type="submit" value="Identification" name="soumettre">
</form>
</div>

<div class="item-d">

</div>
</body>
</html>
 <!--  <form action="login" method="post">
        <p class="text2">Votre courriel:> <input type="text" name="courriel"</p> <br>
Votre mot de passe: <input type="password" name="motpasse">
</p><br>
<input type="submit" value="Identification" name="soumettre">
</form>

{% if message %}
<div id="cadre">{{ message }}"</div>
{% endif %}
-->